<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Header</title>
</head>
<body>
    <header th:fragment="header" class="bg-[#243c1b] px-16 py-6">
        <div class="flex items-center justify-between">
            <!-- Logo and Title -->
            <div class="flex items-center space-x-8">
                <h1 class="text-[#f1f1eb] text-4xl font-sans font-bold italic">Keiba-AI</h1>
                <img src="/images/kokuminusagi_run.png" alt="" class="h-16 w-12">
            </div>

            <!-- Navigation -->
            <nav class="flex items-center space-x-12">
                <a th:href="@{/navigation/}" class="text-[#f1f1eb] text-2xl font-sans font-bold italic hover:text-gray-200">Home</a>
                <span class="text-gray-400">|</span>
                <a th:href="@{/navigation/prediction}" class="text-[#f1f1eb] text-2xl font-sans font-bold italic hover:text-gray-200">Prediction</a>
                <span class="text-gray-400">|</span>
                <a th:href="@{/navigation/search}" class="text-[#f1f1eb] text-2xl font-sans font-bold italic hover:text-gray-200">History</a>

            </nav>
        </div>
    </header>
</body>
</html>