<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="flex flex-row">
        <div class="basis-1/3 flex flex-col space-x-16 space-y-16">
            <div class="mt-36 mb-12">
                <p class="text-[#df1c07] text-2xl ml-16">
                    もっと上に行こう、という欲を失ったら終わり。<br>
                    努力とか根性よりも欲ですよ
                </p>
            </div>
            <div class="flex justify-end">
                <p class="text-2xl mr-8">~武豊~</p>
            </div>
            <div class="mt-36 mb-12">
                <p class="text-[#df1c07] text-2xl">
                    買ったら来ません
                </p>
            </div>
            <div class="flex justify-end">
                <p class="text-2xl mr-8">~生涯収支マイナス4億円君~</p>
            </div>
            <div class="mt-36 mb-12">
                <p class="text-[#df1c07] text-2xl">
                    いいかい、怖かったら怖いほど、<br>
                    逆にそこへ飛び込むんだ。
                </p>
            </div>
            <div class="flex justify-end">
                <p class="text-2xl mr-8">~岡本太郎~</p>
            </div>
            <div class="mt-36 mb-12">
                <p class="text-[#df1c07] text-2xl">
                    億り人になりたいです...
                </p>
            </div>
            <div class="flex justify-end">
                <p class="text-2xl mr-8 mb-16">~やまたく~</p>
            </div>
        </div>
        <div class="basis-2/3">
            <img src="/images/race.jpeg" alt="" class="my-16 space-x-16">
        </div>
    </div>

</body>
</html>