<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="flex flex-col">
            <div class="mt-4 ml-16 text-4xl font-bold text-red-600 mb-6 italic">Prediction Results</div>
            <div class="flex justify-center mb-12">
                <div class="flex flex-col">
                    <div>※入力するIDは、netkeibaページを参照ください</div>
                    <div>競馬場のIDは、札幌：01, 函館：02, 福島：03, 新潟：04, 東京：05, 中山：06, 中京：07, 京都：08, 阪神：09, 小倉：10</div>
                    <div>IDは、yyyy年 + 競馬場ID + 回数 + 日目 + レースNoとなります。</div>
                    <div>そのため、たとえば2024年6回京都5日目の9Rだと、202408060509となります。</div>
                </div>
            </div>
            <div class="flex justify-center mb-12">
                <table class="table-fixed border-collapse">
                    <thead>
                    <tr class="bg-[#243c1b] text-white">
                        <th class="border border-gray-600 px-4 py-2">レース</th>
                        <th class="border border-gray-600 px-4 py-2">1位</th>
                        <th class="border border-gray-600 px-4 py-2">1位確率</th>
                        <th class="border border-gray-600 px-4 py-2">2位</th>
                        <th class="border border-gray-600 px-4 py-2">2位確率</th>
                        <th class="border border-gray-600 px-4 py-2">3位</th>
                        <th class="border border-gray-600 px-4 py-2">3位確率</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border border-gray-600 px-4 py-2">有馬記念</td>
                        <td class="border border-gray-600 px-4 py-2">ディープインパクト</td>
                        <td class="border border-gray-600 px-4 py-2">90%</td>
                        <td class="border border-gray-600 px-4 py-2">オルフェーブル</td>
                        <td class="border border-gray-600 px-4 py-2">45%</td>
                        <td class="border border-gray-600 px-4 py-2">ドウデュース</td>
                        <td class="border border-gray-600 px-4 py-2">80%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>